<br/> <br/>
<ul class="image--container">
  <a href="{{ page.gallery0 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery0 }})"></li>
  </a>
  <a href="{{ page.gallery1 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery1 }})"></li>
  </a>
  <a href="{{ page.gallery2 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery2 }})"></li>
  </a>
  <a href="{{ page.gallery3 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery3 }})"></li>
  </a>
  <a href="{{ page.gallery4 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery4 }})"></li>
  </a>
  <a href="{{ page.gallery5 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery5 }})"></li>
  </a>
  <a href="{{ page.gallery6 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery6 }})"></li>
  </a>
  <a href="{{ page.gallery7 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery7 }})"></li>
  </a>
  <a href="{{ page.gallery8 | replace: "/uploads", "/uploads/original" }}" target="_blank">
    <li class="image--item" style="background-image:url({{ page.gallery8 }})"></li>
  </a>
</ul>
