<ul class="image--container">
  <a href="{{ page.gallery0 }}">
    <li class="image--item" style="background-image:url({{ page.gallery0 }})"></li>
  </a>
  <a href="{{ page.gallery1 }}">
    <li class="image--item" style="background-image:url({{ page.gallery1 }})"></li>
  </a>
  <a href="{{ page.gallery2 }}">
    <li class="image--item" style="background-image:url({{ page.gallery2 }})"></li>
  </a>
  <a href="{{ page.gallery3 }}">
    <li class="image--item" style="background-image:url({{ page.gallery3 }})"></li>
  </a>
  <a href="{{ page.gallery4 }}">
    <li class="image--item" style="background-image:url({{ page.gallery4 }})"></li>
  </a>
  <a href="{{ page.gallery5 }}">
    <li class="image--item" style="background-image:url({{ page.gallery5 }})"></li>
  </a>
  <a href="{{ page.gallery6 }}">
    <li class="image--item" style="background-image:url({{ page.gallery6 }})"></li>
  </a>
  <a href="{{ page.gallery7 }}">
    <li class="image--item" style="background-image:url({{ page.gallery7 }})"></li>
  </a>
  <a href="{{ page.gallery8 }}">
    <li class="image--item" style="background-image:url({{ page.gallery8 }})"></li>
  </a>
</ul>
