.image--container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 2rem;
    align-items: start;
    justify-content: space-between;
    .image--item {
        background-size: cover;
        background-position: 50%;
        width        : 340px;
        height: 340px;
    }
}
