---
layout: default
---

<h2>{{ page.title }}</h2>

<time datetime="{{ page.date }}">
    <small>
        <strong>{{ page.date | date_to_string }}</strong>
        {% if author %}
            by
            {{ author.name }}
        {% endif %}
    </small>
</time>

{% include page-intro.html %}

{% include destination-map.html %}

{{ page.ourTake }}

{% include image-gallery.html %}

{{ content }}

<nav aria-label="Adjacent Posts">
    <ul>
        {% if page.previous.url %}
            <li>
                <a href="{{ page.previous.url }}" rel="prev">&laquo;
                    {{ page.previous.title }}</a>
            </li>
        {% endif %}
        {% if page.next.url %}
            <li>
                <a href="{{ page.next.url }}" rel="next">{{ page.next.title }}
                    &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>

{{ page.places | url_decode | inspect }}

<script type="text/javascript">
    var gps = {{ page.places }};
    var map = L.map("map").setView([
        gps.coordinates[1], gps.coordinates[0]
    ], 4);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {attribution: "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"}).addTo(map);
    L
        .marker([
            gps.coordinates[1], gps.coordinates[0]
        ])
        .addTo(map)
        .openPopup();
</script>
